<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-title slot="" size="large">¡Bienvenido a MindMart!</ion-title>
    <ion-button color="light" routerLink="./login">Iniciar sesión</ion-button>
    <ion-list>
      <ion-item>
        <ion-toolbar>
          <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-text>Términos y condiciones</ion-text>
        </ion-toolbar>
      </ion-item>
      <ion-item>
        <ion-toolbar>
          <ion-buttons slot="secondary">
            <ion-button>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-text>Contáctanos</ion-text>
        </ion-toolbar>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>