<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Departamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)= "openDetailDepartment('Despensa')">
          <ion-card-header>
            <ion-img src = "./assets/k2-_75b91bba-154b-4f6d-987f-23cc87487e9c.v1.svg"></ion-img>
            <ion-card-title>Despensa</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)= "openDetailDepartment('Lácteos')">
          <ion-card-header>
            <ion-img src = "./assets/k2-_ed345a85-8790-45c0-9f3a-47f20fb57418.v1.svg"></ion-img>
            <ion-card-title>Lácteos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = "6">
        <ion-card (click)= "openDetailDepartment('Frutas_y_Verduras')">
          <ion-card-header>
            <ion-img src = "./assets/k2-_7d365206-2011-4146-b481-b25b78f5cf55.v1.svg"></ion-img>
            <ion-card-title>Frutas y Verduras</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
