<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="departamentos">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>